@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">WK Technology</h1>
    <p>Teste técnico da WK</p>
    <p>
        Especificações Teste
    </p>
    <p>Framework:.Net Core 6</p>
    <p>MySql Version: Pomelo.EntityFrameworkCore.MySql 6.0</p>
    <p>Bootstrap Currently v5.2.0</p>
    <p>- Migrations - </p>
    <p>add-migration Inicial</p>
    <p>update-database</p>

    
    

</div>
